.card__number {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 96px;
  line-height: 1;
  color: rgba(249, 189, 189, 0.25);
  position: absolute;
  z-index: -1;
  left: 21px;
  top: 135px;
  transform: translateY(-100%);
}
